<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="openMenu()">
      <ion-icon name="menu" slot="icon-only"></ion-icon>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
    <ion-button slot="end" fill="none" (click)="presentModal()" *ngIf="!isAdmin">
      <ion-icon name="cart" slot="icon-only"></ion-icon>
      <ion-badge color="primary" class="badge" *ngIf="cart && cart.length > 0">{{cart.length}}</ion-badge>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item [routerLink]="'/admin/list-pizza'" (click)="closeMenu()">Administration - Pizza</ion-item>
      <ion-item [routerLink]="'/admin/list-ingredients'" (click)="closeMenu()">Administration - Ingrédients</ion-item>
      <ion-item [routerLink]="'/home'" (click)="closeMenu()">Accueil</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div id="main"></div>