<app-header [title]="title" [isAdmin]="true" [showBackBtn]="true"></app-header>

<ion-content>
  <ion-spinner class="spinner" name="crescent" [style.display]="loading ? '': 'none'"></ion-spinner>

  <ng-container *ngIf="pizza">
    <ion-button class="back-btn">
      <ion-back-button defaultHref="" text="Retour"></ion-back-button>
    </ion-button>

    <div class="img-container">
      <img [src]="pizza.photo" alt="" *ngIf="pizza.photo" />
    </div>

    <ion-list>
      <ion-item>
        <ion-label>Photo URL : </ion-label>
        <ion-input type="text" placeholder="Photo URL" [(ngModel)]="pizza.photo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nom : </ion-label>
        <ion-input type="text" placeholder="Nom" [(ngModel)]="pizza.nom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Prix : </ion-label>
        <ion-input type="number" placeholder="Prix" [(ngModel)]="pizza.prix"></ion-input>
      </ion-item>
    </ion-list>

    <div class="container" *ngIf="ingredientsWrapper && ingredientsWrapper.length > 0">
      <h2>Liste des ingrédients</h2>
      <div *ngFor="let item of ingredientsWrapper">
        <ion-checkbox [(ngModel)]="item.checked"></ion-checkbox>
        {{item.ingredient.nom}}
      </div>

      <div class="mt">
        <ion-button (click)="save()">
          <ion-icon name="save-outline"></ion-icon> Sauvegarder
        </ion-button>
        <ion-button (click)="delete()" *ngIf="pizzaId !== 'new'" color="danger">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ng-container>
</ion-content>