<app-header [title]="title" [isAdmin]="true" [showBackBtn]="true"></app-header>

<ion-content>
  <ion-spinner class="spinner" name="crescent" [style.display]="loading ? '': 'none'"></ion-spinner>

  <ng-container *ngIf="pizza">
    <img [src]="pizza.photo" alt="" *ngIf="pizza.photo" />
    <ion-input type="text" placeholder="Photo URL" [(ngModel)]="pizza.photo"></ion-input>

    <ion-input type="text" placeholder="Nom" [(ngModel)]="pizza.nom"></ion-input>
    <ion-input type="number" placeholder="Prix" [(ngModel)]="pizza.prix"></ion-input>

    <ng-container *ngIf="ingredientsWrapper && ingredientsWrapper.length > 0">
      <h2>Liste des ingrédients</h2>
      <ul>
        <li *ngFor="let item of ingredientsWrapper">
          <ion-checkbox [(ngModel)]="item.checked"></ion-checkbox>{{item.ingredient.nom}}
        </li>
      </ul>
    </ng-container>


    <ion-button (click)="save()">
      <ion-icon name="save-outline"></ion-icon> Sauvegarder
    </ion-button>
    <ion-button (click)="delete()" *ngIf="pizzaId !== 'new'">
      <ion-icon name="trash-outline"></ion-icon> Supprimer
    </ion-button>
  </ng-container>
</ion-content>