<app-header [title]="title" [isAdmin]="true" [showBackBtn]="true"></app-header>

<ion-content>
  <ion-spinner class="spinner" name="crescent" [style.display]="loading ? '': 'none'"></ion-spinner>

  <ng-container *ngIf="ingredient">
    <ion-button class="back-btn">
      <ion-back-button defaultHref="" text="Retour"></ion-back-button>
    </ion-button>

    <ion-list class="mt-7">
      <ion-item>
        <ion-label>Nom : </ion-label>
        <ion-input type="text" placeholder="Nom" [(ngModel)]="ingredient.nom"></ion-input>
      </ion-item>
    </ion-list>

    <div class="container mt">
      <ion-button (click)="save()">
        <ion-icon name="save-outline"></ion-icon> Sauvegarder
      </ion-button>
      <ion-button (click)="delete()" *ngIf="ingredientId !== 'new'" color="danger">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </div>
  </ng-container>
</ion-content>