<app-header title="Accueil"></app-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ng-container>
      <h1>Liste des pizzas</h1>
      <ion-spinner class="spinner" name="crescent" [style.display]="loading ? '': 'none'"></ion-spinner>

      <ion-list *ngIf="pizza">
        <ion-item *ngFor="let item of pizza" [routerLink]="'/detail-pizza/' + item.id">
          <ion-avatar slot="start">
            <img [src]="item.photo" />
          </ion-avatar>
          <ion-label>
            <h2>{{item.nom}}</h2>
            <h3>{{item.prix | currency:'EUR'}}</h3>
          </ion-label>
          <ion-button slot="end" (click)="cartService.addToCart(item)">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ng-container>
  </div>
</ion-content>