<app-header title="Accueil"></app-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ng-container>
      <ion-spinner class="spinner" name="crescent" [style.display]="loading ? '': 'none'"></ion-spinner>

      <ng-container *ngIf="pizza">
        <ion-card *ngFor="let item of pizza">
          <img [src]="item.photo" *ngIf="item.photo" [routerLink]="'/detail-pizza/' + item.id" />
          <ion-card-header>
            <ion-card-title>{{item.nom}}</ion-card-title>
            <ion-card-subtitle>{{item.prix | currency:'EUR'}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-button [routerLink]="'/detail-pizza/' + item.id">
              Voir plus
            </ion-button>
            <ion-button (click)="cartService.addToCart(item)">
              <ion-icon name="add-outline"></ion-icon> Ajouter au panier
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ng-container>
  </div>
</ion-content>