<app-header *ngIf="pizza" [title]="pizza.nom" [showBackBtn]="true"></app-header>

<ion-content *ngIf="pizza">
  <ion-spinner class="spinner" name="crescent" [style.display]="loading ? '': 'none'"></ion-spinner>

  <img [src]="pizza.photo" alt="" />

  <ion-button (click)="cartService.addToCart(pizza)" class="add-btn">
    <ion-icon name="add"></ion-icon>
  </ion-button>

  <ion-button class="back-btn">
    <ion-back-button defaultHref="" text="Retour"></ion-back-button>
  </ion-button>

  <div class="container">
    <h1>{{pizza.nom}}</h1>
    <h4>{{pizza.prix | currency:'EUR'}}</h4>
    <p>Ingrédient(s) : <ng-container *ngFor="let item of pizzaIngredients">{{item.nom}}, </ng-container>
    </p>
  </div>
</ion-content>